{:frodo/config {:web {:port 3000
                      :handler-fn lambda-zone.rest/app-handler}
                :nrepl {:port 7888
                        :cljs-repl? true}}
 :data-layer {:type :mongodb}
 :nomad/environments
   { "dev"
     {:data-layer {:type :mongodb}}
     "test"
     {:data-layer {:type :file}}
   }
}
